:root {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main {
    display:flex;
    align-items: center;
    flex-direction: column;
  }
  
  .calculator {
    width: 26rem;;
    height: 25rem;
    padding: 27px;
    margin: 5rem;
  }
  
  .calculator-screen{
    font-size: 1.5rem;
    text-align: right;
    height: 3rem;
    width: 100%;
    border: 1px solid;
  }

  .operation-keys {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  button:hover {
    background-color: #eaeaea;
  }
  
  .calculation-numbers {
    font-size: 1,5 rem;
    text-align: center;
    width: 20%;
    height: 2rem;
    line-height: 2.5rem;
    margin-right: 0.5rem;
    display:flex;
  }

.equal-container{
  display: flex;
}

.numbers{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.button{
width: 25%;
height: 50px;
line-height: 2.5;
}